:root {
    /* Global Navigation */
    --nav-height: 52px;

    --body-copy-font-color: var(--color-text-primary);

    --min-content-width: 720px;
    --min-extended-width: 960px;

    --mobile-left-right-spacing: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--body-copy-font-color);
}


main {
  overflow-x: hidden;
}

.layout-container {
    max-width: var(--min-content-width);
    margin-inline: var(--mobile-left-right-spacing);
  }

.extended-layout-container {
    max-width: var(--min-extended-width);
    margin-inline: var(--mobile-left-right-spacing);
  }

img {
    max-width: 100%;
}

a {
    color: var(--color-text-primary);
}


@media screen and (min-width: 768px) {
  .layout-container,
  .extended-layout-container {
    margin-inline: auto;
  }
  .extended-layout-container {

  }
}
