.cta-button {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    background-color: var(--color-primary-hover);
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.3);
    font-size: smaller;
    &:hover {
        box-shadow: unset;
    }
}

.paw-print-cta-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}