<section class="gallery">
  <a href="/images/IMG_7136.jpg" target="_blank">
    <img src="/images/IMG_7136.jpg" alt="" />
  </a>
  <a href="/images/mazzy-63.jpg" target="_blank">
    <img src="/images/mazzy-63.jpg" alt="" />
  </a>
  <a href="/images/mazzy-76.jpg" target="_blank">
    <img src="/images/mazzy-76.jpg" alt="" />
  </a>
  <a href="/images/mazzy-sunset.jpg" target="_blank">
    <img src="/images/mazzy-sunset.jpg" alt="" />
  </a>
  <a href="/images/mazzy-sunset-2.jpg" target="_blank">
    <img src="/images/mazzy-sunset-2.jpg" alt="" />
  </a>
</section>
