.site-nav {
  --site-nav-link-hover-background-color: var(--color-primary-hover);
  --site-nav-link-text-color: var(--color-text-primary);
  --site-nav-link-text-hover-color: white;

  background: rgba(255,255,255,.5);
  border-radius: 999px;
  padding: 4px;

  text-align: center;
}

.site-nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

.site-nav a {
  padding: 8px 16px;
  text-decoration: none;
  color: var(--site-nav-link-text-color);
  border-radius: 999px;
  display: block;
}

.site-nav a:hover {
  background-color: var(--site-nav-link-hover-background-color);
  color: var(--site-nav-link-text-hover-color)
}

@media screen and (min-width: 768px) {
  .site-nav {
    margin-left: unset;
  }
}