.top-bar {
    --top-bar-background-color: var(--color-secondary);

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 10px;
    background-color: var(--top-bar-background-color);
}


@media screen and (min-width: 768px) {
    .top-bar {
        padding-right: 20px;
    }
    .top-bar .site-nav {
        margin-left: auto;
    }
}