:root {
    /* Global Navigation */
    --nav-height: 52px;

    --body-copy-font-color: var(--color-text-primary);

    /* Breakpoings: can't use css vars in media queires, so this is just informational  */
    /*
      mobile bp: 768px;
    */
    
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--body-copy-font-color);
}


main {}

.layout-container {
    max-width: 720px;
    margin-inline: 20px;
  }

.extended-layout-container {
    max-width: 960px;
    margin: 0 auto;
  }

img {
    max-width: 100%;
}

a {
    color: var(--color-text-primary);
}

ul {
  margin-left: 1em;
}

@media screen and (min-width: 768px) {
  .layout-container {
    margin-inline: auto;
  }
}

