:root {
    /* Global Navigation */
    --nav-height: 52px;

    --body-copy-font-color: var(--color-text-primary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--body-copy-font-color);
}


main {}

.layout-container {
    max-width: 720px;
    margin: 0 auto;
  }

.extended-layout-container {
    max-width: 960px;
    margin: 0 auto;
  }

img {
    max-width: 100%;
}

a {
    color: var(--color-text-primary);
}

